<p id="notice"><%= notice %></p>

<p>
  <% if @client.gender.eql?("M")  %>
  M. <% else %> Ms <% end %>
  <%= @client.first_name %>
  <%= @client.last_name %>
  -
  <%= @client.street_number %>,
  <%= @client.street_name %>
  <%= @client.postal_code %>
  <%= @client.city %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
