<h1>Listing operations</h1>

<table>
  <tr>
    <th>Account number</th>
    <th>Value</th>
    <th>Old balance</th>
    <th>New balance</th>
    <th>Ope type</th>
    <th>Ope date</th>
    <th>Ope time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operations.each do |operation| %>
  <tr>
    <td><%= operation.account_number %></td>
    <td><%= operation.value %></td>
    <td><%= operation.old_balance %></td>
    <td><%= operation.new_balance %></td>
    <td><%= operation.ope_type %></td>
    <td><%= operation.ope_date %></td>
    <td><%= operation.ope_time %></td>
    <td><%= link_to 'Show', operation %></td>
    <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
    <td><%= link_to 'Destroy', operation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operation', new_operation_path %>
